[core]
	autocrlf = input
	editor = hx
	excludesfile = ~/.gitignore

[help]
	autocorrect = 1

[alias]
	slog = log --oneline
	glog = slog --decorate --graph --all
	cl = "!f() { git fetch -p && for branch in $(git branch -vv | grep ': gone]' | awk '{print $1}'); do git branch -D $branch; done; }; f"
	fc = "!f() { git checkout ${1:-main} && git cl ${1:-main} && git pull; }; f"
	sd = diff --staged
	gpush = "!f() { git push $@ 2>&1 | gurl; }; f"

[init]
	defaultBranch = main

[pull]
	rebase = true

[push]
	autoSetupRemote = true
