[user]
	name = Tomas Ruud
	email = git@me.2ms.no

[core]
	autocrlf = input
	editor = hx
	excludesfile = ~/.gitignore

[help]
	autocorrect = 1

[alias]
	slog = log --oneline
	cl = "!f() { git branch --merged ${1-main} | grep -v " ${1-main}$" | xargs -r git branch -d; }; f"
	fc = "!f() { git checkout ${1:-main} && git cl ${1:-main} && git pull; }; f"
	sd = diff --staged

[init]
	defaultBranch = main

[pull]
	rebase = true

[push]
	autoSetupRemote = true
