# dotfiles
alias dot='/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'

ls --color=auto &> /dev/null && alias ls='ls --color=auto' ||
alias dir='dir --color=auto'
alias vdir='vdir --color=auto'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# typos
alias gti="git"
alias got="git"

# handy stuff
alias ..="cd .."
alias ...="cd ../.."
alias ll='ls -alF'

# shortcut for disabling ipv6
alias ipv6="sudo sysctl -p"

# docker
alias dc="docker-compose"
alias d="dc run --rm"
alias dx="docker run --rm --interactive --tty --volume $PWD:/app --workdir /app"
alias ds="dc run --service-ports --rm"

# laravel sail
alias sail="bash vendor/bin/sail"

# handy shortcuts
alias work="cd $HOME/work"
alias projects="cd $HOME/projects"

# deployer
alias deployer="vendor/bin/deployer.phar"
