#!/bin/bash
# dotfiles
alias dot='/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'

# colorize
#for *BSD/darwin
export CLICOLOR=1

ls --color=auto &> /dev/null && alias ls='ls --color=auto' ||
alias dir='dir --color=auto'
alias vdir='vdir --color=auto'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# handy stuff
alias ..="cd .."
alias ...="cd ../.."
alias ll='ls -alF'

# folders
alias projects="cd $PROJECTS"

# shortcut for disabling ipv6
alias ipv6="sudo sysctl -p"

# docker
alias dc="docker-compose"
alias dcomposer="docker run --rm --interactive --tty --volume $PWD:/app composer"
alias d="docker-compose run --rm"
alias ds="docker-compose run --service-ports --rm"

# laravel sail
alias sail="bash vendor/bin/sail"

# shortcut for fixing spotify on snap window fuckup
alias spotifix="sed -i '/app.window/d' ~/.var/app/com.spotify.Client/config/spotify/prefs"

