#!/bin/bash

# function for launching applications in the background
function l() {
  if [[ -n "$*" ]]; then
    eval "$* 2>&1 &"
  elif [[ -z "$*" ]]; then
    echo "No parameters passed"
  fi
}

# silent launch
function sl() {
  l $@ > /dev/null
}

# replace crontab to use home-folder-file
# from: https://blog.chmd.fr/saving-your-crontab-in-your-dotfiles.html
if [[ -z $CRONTABCMD ]]; then
  export CRONTABCMD=$(which crontab)

  function crontab() {
    if [[ $@ == "-e" ]]; then
      vim "$HOME/.crontab" && $CRONTABCMD "$HOME/.crontab"
    else
      $CRONTABCMD $@
    fi
  }

  $CRONTABCMD "$HOME/.crontab"
fi

# get remote ip
function remote-ip() {
  curl https://icanhazip.com/
}
