.env
.luarc.json
*.backup.tgz
claude/.claude/*
!claude/.claude/keybindings.json
!claude/.claude/settings.json
!claude/.claude/statusline.janet
helix/.config/helix/contrib
helix/.config/helix/runtime
vim/.config/vim/.netrwhist
