source ~/.vimrc

set iderefactormode=keep
set clipboard=unnamedplus,unnamed,idea

set ideajoin
set NERDTree

map <leader>e <Action>(ActivateProjectToolWindow)
map <leader>r <Action>(RecentFiles)
map <leader>b <Action>(GotoDeclaration)
map <leader>i <Action>(GotoImplementation)